<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>HydroDash</title>
</head>

<body>

    <div><a href="/">Home</a></div>
    <h1>These pages are for agents specifically it is an overview of there reports</h1>
    {{$a := .Db}}
    <div>
    {{range .Error}}
        <a href="/reports/{{$a}}/{{.}}"><p>{{.}}</a> Has Errors!</p>
    {{end}}
    </div>
    <div>
    {{range .Working}}
    <p><a href="/reports/{{$a}}/{{.}}">{{.}}</a></p>
    {{end}}
    </div>
    
</body>
</html>



