<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>HydroDash</title>
</head>

<body>
    <h1>Individual Site Page display metrics</h1>
    <p>Name: {{.Name}}</p>
    <p>Error: {{.Err_flag}}</p>
    <p>Last Review: {{.LastReview}}</p>
    <p>Last Transmit: {{.LastRun}}</p>
    <p>Source: {{.Source}}</p>
    <p>Error Note: {{.ErrStr}}</p>
    <a href="{{.Destination}}", target="_blank">DWR</a>


</body>
</html>



